@use "./variables.scss" as *;

.combat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.targeting {
    .enemies {
      pointer-events: none;

      &:not(:hover) {
        .battlecard .card {
          outline: 0.25rem solid goldenrod;
        }
      }

      .battlecard {
        pointer-events: all;
      }

      .battlecard .card {
        &:hover {
          outline: 0.25rem solid goldenrod;
        }
      }
    }
  }

  .enemies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .battlecard:first-child {
      margin-left: 0;
    }

    .battlecard:last-child {
      margin-right: 0;
    }

    .battlecard {
      width: 16rem;
      position: relative;
      transition: width 300ms, margin 300ms;
      flex-grow: 1;
      margin-left: 2rem;
      margin-right: 2rem;

      .card {
        position: relative;
        transition: all 300ms;
        width: 16rem;
        height: 28rem;
        background: rgb(26, 26, 26);
        border-radius: 0.5rem;
        box-shadow: 0.25rem 0.25rem 0.5rem 0.25rem rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        outline: 0.25rem solid transparent;

        &:hover {
          transform: scale(1.05);
          filter: brightness(125%);
          cursor: pointer;
        }
      }

      &.dead {
        width: 0;
        box-shadow: none;
        border: none !important;
        pointer-events: none;
        overflow: hidden;
        margin-left: 0rem;
        margin-right: 0rem;
      }

      .status-effects {
        height: 10%;
        max-width: 100%;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        gap: 0.5rem;
        top: -12.5%;
        left: 0;
      }

      .name {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        background: rgb(43, 43, 43);
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
      }

      .sprite {
        position: relative;
        border: 0.25rem solid $health;
        width: 12rem;
        height: 16rem;
        margin: 0;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $health_gradient;

        img {
          width: 100%;
          height: 100%;
          border-radius: 10%;
          object-fit: cover;
        }
      }

      .hp-background,
      .ap-background {
        position: relative;
        width: 100%;
        height: 2.5rem;
        background: rgb(15, 15, 15);
        box-sizing: border-box;
        border: 0.25rem solid rgb(15, 15, 15);

        .hp-fill,
        .hp-late,
        .ap-fill {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          animation-name: GradientShine;
          animation-duration: 3s;
          background-size: 200% 200%;
          animation-iteration-count: infinite;
          animation-timing-function: linear;

          &.no-fill {
            width: 0;
            box-shadow: none;
          }
        }

        .hp-value,
        .ap-value {
          transition: 200ms ease-out opacity;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          font-size: 1.5rem;
          font-weight: bold;
          color: rgb(255, 255, 255);
          text-shadow: 0 0 0.5rem rgb(0, 0, 0);
          z-index: 3;
          opacity: 0;

          &:hover {
            opacity: 1;
          }
        }

        .ap-value {
          opacity: 1;
        }

        .hp-fill {
          transition: 750ms ease-out width;
          z-index: 2;
        }

        .hp-late {
          transition: 800ms ease-out width;
          transition-delay: 500ms;
          background: $health_light;
        }

        .hp-fill {
          background: $health;
          background: $health_gradient;
          box-shadow: $health_shadow;
        }

        .ap-fill {
          background: $action;
          background: $action_gradient;
          box-shadow: $action_shadow;
        }
      }
    }
  }

  .jump {
    position: absolute;
    left: 0px;
    top: 0px;
    animation-name: droppingString;
    animation-fill-mode: forwards;

    &.default {
      color: $health;
      text-shadow: -0.25rem 0.25rem 0.75rem $health;
    }

    &.crit {
      color: orange;
      text-shadow: -0.25rem 0.25rem 0.75rem rgb(236, 154, 2);
    }

    &.bleed {
      color: crimson;
      text-shadow: -0.25rem 0.25rem 0.75rem crimson;
    }

    &.poison {
      color: purple;
      text-shadow: -0.25rem 0.25rem 0.75rem purple;
    }

    &.heal {
      color: green;
      text-shadow: -0.25rem 0.25rem 0.75rem green;
    }
  }

  &.paused {
    .toolbar {
      filter: brightness(50%);
      pointer-events: none;
    }
  }
}

.status-effect {
  position: relative;
  width: 2.6rem;
  height: 2.6rem;
  background: rgb(43, 43, 43);
  box-shadow: inset 0 0 0.25rem 0.25rem rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;

  .duration {
    color: white;
    font-size: 0.7rem;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    pointer-events: none;
  }

  .icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
  }
}

.combat-header {
  position: absolute;
  width: 24rem;
  height: auto;
  top: 0;
  left: calc(50% - 12rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  div {
    width: 100%;
    height: 100%;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  }

  .attack,
  .pass {
    border: 0.25rem solid silver;
    background: rgb(59, 59, 59);
    box-shadow: 0 0 0.5rem 0.5rem rgb(87, 87, 87);

    &:hover {
      color: gold;
      border: 0.25rem solid gold;
      cursor: pointer;
    }
  }

  .combat-time {
    height: 3rem;
    border: 0.25rem solid rgb(33, 85, 134);
    background: rgb(26, 67, 105);
    box-shadow: 0 0 0.5rem 0.5rem rgb(33, 63, 161);
    z-index: 2;
  }
}
