@use "./variables.scss" as *;

.main-button {
  position: relative;
  transition: border 200ms, box-shadow 200ms, color 200ms, top 200ms;
  font-size: 2rem;
  height: 3.75rem;
  width: 15rem;
  padding: 0;
  border: none;
  top: 0;
  background: rgb(32, 32, 32);
  border: 0.2rem solid rgb(163, 163, 163);
  box-shadow: 0 0.4rem 0.7rem 0.5rem rgb(12, 12, 12), inset 0 0 0.8rem 0.6rem rgb(15, 15, 15);
  text-shadow: 0 0 0.5rem black;
  color: white;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    border: 0.2rem solid goldenrod;
    box-shadow: 0 0.4rem 0.7rem 0.3rem rgb(12, 12, 12), inset 0 0 0.8rem 0.6rem rgb(15, 15, 15);
    color: gold;
    top: 0.3rem;
  }

  &:active {
    border: 0.2rem solid goldenrod;
    box-shadow: 0 0.4rem 0.7rem 0.1rem rgb(12, 12, 12), inset 0 0 0.8rem 0.6rem rgb(15, 15, 15);
    color: gold;
    top: 0.5rem;
  }
}

.lobby-button {
  transition: border 200ms, color 200ms;
  position: relative;
  width: auto;
  height: 100%;
  padding: 0.5rem;
  position: relative;
  border: 0.25rem solid silver;
  font-size: 2rem;
  font-family: "Almendra", serif;
  color: silver;
  background: rgb(36, 36, 36);
  box-shadow: inset 0px 0px 0.25rem 0.2rem rgb(12, 12, 12);
  box-sizing: border-box;
  z-index: 0;
  cursor: pointer;

  &.selected {
    border: 0.25rem solid gold;
    box-shadow: inset 0px 0px 0.25rem 0.2rem rgb(12, 12, 12), 0px 0px 0.25rem 0.2rem rgb(12, 12, 12);
    color: gold;
  }

  &:hover {
    border: 0.25rem solid goldenrod;
    box-shadow: inset 0px 0px 0.25rem 0.2rem rgb(12, 12, 12), 0px 0px 0.25rem 0.2rem rgb(12, 12, 12);
    color: goldenrod;
    z-index: 1;
  }

  &:first-child {
    border-radius: 1.5rem 0 0 0;
  }

  &:last-child {
    border-radius: 0 1.5rem 0 0;
  }
}

pre {
  margin: 0;
  font-size: 1.2rem;
  span {
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: "Almendra", serif;
    text-shadow: 0px 0px 8px black;
    line-height: 1.3rem;
  }

  img {
    width: 1.2rem;
    vertical-align: middle;
  }

  img.medium {
    width: 1.6rem;
  }

  .effect-container,
  .ability-container {
    border: 0.1rem solid gold;
    padding: 0.1rem;
    background: rgba(40, 40, 40, 0.9);
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    line-height: 1.5rem;
  }

  .ability-container {
    .effect-container {
      border: 0.05rem solid rgb(253, 253, 253);
      background: rgba(25, 25, 25, 0.9);
      line-height: 1.5rem;
    }
  }
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  background: transparent;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
  }

  &::-moz-range-thumb {
    appearance: none;
  }

  &:focus {
    outline: none;
  }

  &::-ms-track {
    width: 80%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-webkit-slider-thumb {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    background: rgb(65, 60, 60);
    box-shadow: 0 0 0.6rem 0.1rem rgba(122, 122, 122, 0.8);
    margin-top: -0.5rem;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0.6rem 0.3rem rgba(122, 122, 122, 0.8);
    }
  }

  &::-moz-range-thumb {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    background: rgb(65, 60, 60);
    box-shadow: 0 0 0.6rem 0.1rem rgba(122, 122, 122, 0.8);
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0.6rem 0.3rem rgba(122, 122, 122, 0.8);
    }
  }

  &::-webkit-slider-runnable-track {
    width: 80%;
    height: 0.5rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0.8rem 0.2rem rgba(19, 17, 17, 0.8);
    border-radius: 0.25rem;
  }

  &:focus::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0.8);
  }

  &::-moz-range-track {
    width: 80%;
    height: 0.5rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0.8rem 0.2rem rgba(19, 17, 17, 0.8);
    border-radius: 0.25rem;
  }

  &:focus::-moz-range-track {
    background: rgba(0, 0, 0, 0.8);
  }

  &::-moz-range-progress {
    background: rgba(233, 162, 9, 0.8);
  }
}

select {
  margin-left: 0.5rem;
  border: none;
  background: rgba(16, 12, 16, 0.5);
  color: white;
  width: auto;

  option {
    background: black;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
