.common {
  color: #bad6db;
  -webkit-filter: drop-shadow(0px 0px 4px #bad6db);
          filter: drop-shadow(0px 0px 4px #bad6db);
}

.uncommon {
  color: #9cd0d9;
  -webkit-filter: drop-shadow(0px 0px 5px #9cd0d9);
          filter: drop-shadow(0px 0px 5px #9cd0d9);
}

.rare {
  color: #72cbdb;
  -webkit-filter: drop-shadow(0px 0px 6px #72cbdb);
          filter: drop-shadow(0px 0px 6px #72cbdb);
}

.unusual {
  color: #35c2db;
  -webkit-filter: drop-shadow(0px 0px 6px #35c2db);
          filter: drop-shadow(0px 0px 6px #35c2db);
}

.scaled {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.invisible {
  opacity: 0;
  z-index: -1 !important;
}

.battleEndScreen {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 4;
  -webkit-transition: .5s;
  transition: .5s;
}

.battleEndScreen .battleEndContainer {
  -webkit-transition: .33s;
  transition: .33s;
  width: 640px;
  height: 480px;
  position: absolute;
  left: 50%;
  margin-left: -324px;
  top: 192px;
  background: #4b4b4b;
  z-index: 5;
  overflow: hidden;
  border: 8px solid #1f1f1f;
  -webkit-box-shadow: inset 0px 0px 8px 6px #323232;
          box-shadow: inset 0px 0px 8px 6px #323232;
}

.battleEndScreen .battleEndContainer > .endTitle {
  width: 100%;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
}

.battleEndScreen .battleEndContainer > .endTitle > p {
  font-size: 80px;
  font-family: RobotoBolder;
  margin-top: 0px;
  -webkit-box-shadow: 0px 0px 10px 8px #242424;
          box-shadow: 0px 0px 10px 8px #242424;
}

.battleEndScreen .battleEndContainer > .endingText {
  height: 260px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 120px;
}

.battleEndScreen .battleEndContainer > .endingText > pre {
  width: 100%;
  white-space: break-spaces;
  margin-left: 5px;
}

.battleEndScreen .battleEndContainer .okbutton {
  -webkit-transition: 0.075s;
  transition: 0.075s;
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 180px;
  height: 90px;
  margin-left: -98px;
  background: #f1d329;
  -webkit-box-shadow: inset 0px 0px 6px 4px orange;
          box-shadow: inset 0px 0px 6px 4px orange;
  font-size: 70px;
  color: yellow;
  text-shadow: 0px 0px 4px black;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 8px solid black;
}

.battleEndScreen .battleEndContainer .okbutton:hover {
  border: 8px solid #5c5c5c;
  cursor: pointer;
}

.loss {
  color: #c02020;
  text-shadow: 0px 0px 6px #751d1d;
  background: #571717;
}

.win {
  color: #20c035;
  text-shadow: 0px 0px 6px #1d7537;
  background: #17572c;
}

.lootWindow {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 480px;
  height: 420px;
  background: #424242;
  position: absolute;
  left: 50%;
  margin-left: -240px;
  top: 300px;
  text-align: center;
  font-size: 48px;
  color: gold;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  text-shadow: 0px 0px 4px #857623;
  -webkit-box-shadow: 0px 0px 8px 6px #272727, inset 0px 0px 8px 6px #2d2d2d;
          box-shadow: 0px 0px 8px 6px #272727, inset 0px 0px 8px 6px #2d2d2d;
  z-index: 2;
}

.lootWindow > .closeLoot {
  -webkit-transition: 0.05s;
  transition: 0.05s;
  background: gold;
  color: white;
  font-size: 52px;
  position: absolute;
  bottom: -72px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateZ(-10px);
          transform: translateX(-50%) translateZ(-10px);
  padding: 6px;
  -webkit-box-shadow: inset 0px 0px 10px 8px orange, 0px 0px 8px 6px #191919;
          box-shadow: inset 0px 0px 10px 8px orange, 0px 0px 8px 6px #191919;
  z-index: 0;
  border: 8px solid black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.lootWindow > .closeLoot:hover {
  border: 8px solid silver;
}

.lootWindow > .goldNumber {
  font-size: 24px;
  color: gold;
  text-shadow: 0px 0px 4px orange;
  position: absolute;
  bottom: -5px;
  right: 15px;
}

.lootWindow > .lootArea {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 15%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(75px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-top: 10px;
  gap: 10px;
}

.lootWindow > .lootArea > .selected {
  border: 8px solid #d1b514;
}

.lootWindow > .lootArea > .selected:hover {
  border: 8px solid #ffd900;
}

.lootWindow > .lootArea > div {
  -webkit-transition: 0.05s;
  transition: 0.05s;
  position: relative;
  border: 8px solid black;
  transition: 0.05s;
  width: 75px;
  height: 75px;
  background: #3c3c3c;
  z-index: 1;
}

.lootWindow > .lootArea > div > div {
  width: 75px;
  height: 75px;
  background: #252525;
  background: radial-gradient(circle, #252525 0%, #1c1c1c 100%);
  position: absolute;
  -webkit-box-shadow: inset 0px 0px 8px 6px #101010;
          box-shadow: inset 0px 0px 8px 6px #101010;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 0px;
  top: 0px;
}

.lootWindow > .lootArea > div > div > img {
  width: 75px;
  height: 75px;
  pointer-events: none;
}

.lootWindow > .lootArea > div > div > p {
  font-size: 18px;
  color: white;
  text-shadow: 0px 0px 4px black;
  position: absolute;
  right: 0px;
  bottom: -20px;
}

.lootWindow > .lootArea > div:hover {
  border: 8px solid #bbbbbb;
}

#characterWindow {
  position: absolute;
  width: 620px;
  height: 440px;
  left: 50%;
  margin-left: -422px;
  top: 48px;
  background: rgba(85, 85, 85, 0.95);
  -webkit-box-shadow: inset 0px 0px 24px 16px rgba(45, 45, 45, 0.95), 0px 0px 12px 8px rgba(30, 30, 30, 0.9);
          box-shadow: inset 0px 0px 24px 16px rgba(45, 45, 45, 0.95), 0px 0px 12px 8px rgba(30, 30, 30, 0.9);
  border: 4px solid rgba(25, 25, 25, 0.95);
}

#characterWindow > .draggableArea {
  width: 100%;
  height: 24px;
  background: rgba(50, 50, 50, 0.9);
  position: absolute;
  top: -24px;
  left: -2px;
  border: 2px solid rgba(50, 50, 50, 0.9);
  z-index: 1;
  border-radius: 12px 12px 0px 0px;
}

#characterWindow > .contentArea {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

#characterWindow > .contentArea > .portrait {
  width: 128px;
  height: 128px;
  border: 4px solid rgba(45, 45, 45, 0.8);
  border-radius: 8px;
  position: absolute;
  left: 10px;
  top: 10px;
}

#characterWindow > .contentArea > .name {
  position: absolute;
  left: 90px;
  top: 10px;
}

#characterWindow > .contentArea > .xpBar {
  width: 420px;
  height: 25px;
  background: #242424;
  -webkit-box-shadow: inset 0px 0px 8px 6px #1c1c1c, 0px 0px 4px 2px #0a0a0a;
          box-shadow: inset 0px 0px 8px 6px #1c1c1c, 0px 0px 4px 2px #0a0a0a;
  position: absolute;
  left: 160px;
  top: 115px;
}

#characterWindow > .contentArea > .xpBar > .barNum {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 4px 2px black;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
}

#characterWindow > .contentArea > .xpBar > .barFill {
  width: 100%;
  height: 25px;
  background: #e0c217;
  background: -webkit-gradient(linear, left top, right top, from(#e0c217), color-stop(10%, #fdd655), color-stop(25%, #d3b614), to(#e0c633));
  background: linear-gradient(90deg, #e0c217 0%, #fdd655 10%, #d3b614 25%, #e0c633 100%);
  -webkit-box-shadow: inset 0px 0px 6px 4px #da8e03;
          box-shadow: inset 0px 0px 6px 4px #da8e03;
  -webkit-animation-name: BarShine;
          animation-name: BarShine;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  background-size: 200% 200%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#characterWindow > .contentArea .hpBar,
#characterWindow > .contentArea .mpBar {
  width: 570px;
  height: 15px;
  background: #191919;
  position: absolute;
  left: 10px;
  -webkit-box-shadow: inset 0px 0px 0.25vw 0.2vw #0a0a0a;
          box-shadow: inset 0px 0px 0.25vw 0.2vw #0a0a0a;
  border: 4px solid black;
  border-radius: 8px;
}

#characterWindow > .contentArea .hpBar > p,
#characterWindow > .contentArea .mpBar > p {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 12px;
  color: white;
  text-shadow: 0px 0px 4px 2px black;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
}

#characterWindow > .contentArea .hpBar > div,
#characterWindow > .contentArea .mpBar > div {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
}

#characterWindow > .contentArea .hpBar {
  top: 150px;
}

#characterWindow > .contentArea .hpBar > div {
  background: #a51e14;
  background: -webkit-gradient(linear, left top, right top, from(#a51e14), color-stop(10%, #e94a3f), color-stop(25%, #ca352a), to(#a51e14));
  background: linear-gradient(90deg, #a51e14 0%, #e94a3f 10%, #ca352a 25%, #a51e14 100%);
  -webkit-box-shadow: inset 0px 0px 0.25vw 0.2vw #6b120b;
          box-shadow: inset 0px 0px 0.25vw 0.2vw #6b120b;
  -webkit-animation-name: BarShine;
          animation-name: BarShine;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  background-size: 200% 200%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#characterWindow > .contentArea .mpBar {
  right: 5px;
  top: 175px;
}

#characterWindow > .contentArea .mpBar > div {
  background: #1458a5;
  background: -webkit-gradient(linear, left top, right top, from(#1458a5), color-stop(10%, #65a2e7), color-stop(25%, #4585cf), to(#1458a5));
  background: linear-gradient(90deg, #1458a5 0%, #65a2e7 10%, #4585cf 25%, #1458a5 100%);
  -webkit-box-shadow: inset 0px 0px 0.25vw 0.2vw #104a8b;
          box-shadow: inset 0px 0px 0.25vw 0.2vw #104a8b;
  -webkit-animation-name: BarShine;
          animation-name: BarShine;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  background-size: 200% 200%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#characterWindow > .contentArea .hpBar:hover > p, #characterWindow > .contentArea .mpBar:hover > p {
  opacity: 1;
}

#characterWindow > .contentArea .fillbar {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  width: 100%;
  height: 100%;
  background: #a51e14;
  background: -webkit-gradient(linear, left top, right top, from(#a51e14), color-stop(10%, #e94a3f), color-stop(25%, #ca352a), to(#a51e14));
  background: linear-gradient(90deg, #a51e14 0%, #e94a3f 10%, #ca352a 25%, #a51e14 100%);
  -webkit-box-shadow: inset 0px 0px 0.25vw 0.2vw #6b120b;
          box-shadow: inset 0px 0px 0.25vw 0.2vw #6b120b;
  -webkit-animation-name: BarShine;
          animation-name: BarShine;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  background-size: 200% 200%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
  bottom: 0px;
}

#characterWindow > .contentArea > .xpBar:hover .barNum {
  opacity: 1;
}

#characterWindow > .contentArea > .baseStats {
  position: absolute;
  left: 10px;
  top: 190px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#characterWindow > .contentArea > .baseSkills {
  position: absolute;
  left: 200px;
  top: 190px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#characterWindow > .contentArea > .warrior_class {
  background: #d1461b;
  -webkit-box-shadow: inset 0px 0px 12px 8px #923114;
          box-shadow: inset 0px 0px 12px 8px #923114;
}

#characterWindow > .contentArea > .mage_class {
  background: #1bb3d1;
  -webkit-box-shadow: inset 0px 0px 12px 8px #127a8f;
          box-shadow: inset 0px 0px 12px 8px #127a8f;
}

#characterWindow > .contentArea > .elementalist_class {
  background: #1ed11b;
  -webkit-box-shadow: inset 0px 0px 12px 8px #127910;
          box-shadow: inset 0px 0px 12px 8px #127910;
}

#perkWindow {
  position: absolute;
  width: 1280px;
  height: 880px;
  left: 50%;
  margin-left: -622px;
  top: 48px;
  background: rgba(85, 85, 85, 0.95);
  -webkit-box-shadow: inset 0px 0px 24px 16px rgba(45, 45, 45, 0.95), 0px 0px 12px 8px rgba(30, 30, 30, 0.9);
          box-shadow: inset 0px 0px 24px 16px rgba(45, 45, 45, 0.95), 0px 0px 12px 8px rgba(30, 30, 30, 0.9);
  border: 4px solid rgba(25, 25, 25, 0.95);
}

#perkWindow ::-webkit-scrollbar {
  display: none;
}

#perkWindow > .draggableArea {
  width: 100%;
  height: 24px;
  background: rgba(50, 50, 50, 0.9);
  position: absolute;
  top: -24px;
  left: -2px;
  border: 2px solid rgba(50, 50, 50, 0.9);
  z-index: 1;
  border-radius: 12px 12px 0px 0px;
}

#perkWindow > .contentArea {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: auto;
}

#perkWindow > .contentArea .Perk {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 4px solid #7a7a7a;
  position: absolute;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  z-index: 1;
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

#perkWindow > .contentArea .Perk > img {
  width: 128px;
  height: 128px;
  -webkit-filter: drop-shadow(0px 0px 6px rgba(20, 20, 10, 0.9));
          filter: drop-shadow(0px 0px 6px rgba(20, 20, 10, 0.9));
}

#perkWindow > .contentArea .Perk > p {
  position: absolute;
  color: #bebebe;
  text-shadow: -2px 2px 4px #222222;
  font-size: 27px;
  left: 50%;
  bottom: -46px;
  font-family: RobotoBolder;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(122, 122, 122, 0.95);
  border-radius: 40% 40% 45% 45%;
  padding: 4px;
}

#perkWindow > .contentArea .Perk:hover {
  border: 4px solid #c4c4c4;
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

#perkWindow > .contentArea .unavailable {
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

#perkWindow > .contentArea .unavailable:hover {
  border: 4px solid #aaaaaf !important;
  -webkit-filter: brightness(0.45) !important;
          filter: brightness(0.45) !important;
}

#perkWindow > .contentArea .bought {
  border: 4px solid #c4a41a;
}

#perkWindow > .contentArea .bought:hover {
  border: 4px solid #f5cd1c;
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

#perkWindow > .contentArea .maxed {
  border: 4px solid #e4bf1c;
  -webkit-filter: brightness(1.1) drop-shadow(0px 0px 6px gold);
          filter: brightness(1.1) drop-shadow(0px 0px 6px gold);
}

#perkWindow > .contentArea .maxed:hover {
  border: 4px solid #fdcf00 !important;
  -webkit-filter: brightness(1.15) drop-shadow(0px 0px 8px gold) !important;
          filter: brightness(1.15) drop-shadow(0px 0px 8px gold) !important;
}

#perkWindow > .contentArea .connecter {
  background: #424242;
  -webkit-box-shadow: inset 0px 0px 4px 2px #353535;
          box-shadow: inset 0px 0px 4px 2px #353535;
  position: absolute;
  left: 0px;
  top: 0px;
}

#ItemUseMenu {
  width: 125px;
  height: auto;
  min-height: 150px;
  background: rgba(16, 16, 16, 0.8);
  border: 4px solid rgba(16, 16, 16, 0.8);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5;
}

#ItemUseMenu p {
  -webkit-transition: 0.075s;
  transition: 0.075s;
  width: 100%;
  height: 35px;
  font-size: 22px;
  color: #e7e7e7;
  text-shadow: -2px 2px 4px #303030;
  background: rgba(64, 64, 64, 0.75);
  border: 4px solid rgba(16, 16, 16, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#ItemUseMenu p:hover {
  -webkit-filter: brightness(1.25);
          filter: brightness(1.25);
}

#useMultiple {
  width: 320px;
  height: 240px;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -160px;
  background: rgba(32, 32, 32, 0.9);
  border-radius: 8px;
  -webkit-box-shadow: -2px 6px 6px 8px rgba(14, 15, 15, 0.85);
          box-shadow: -2px 6px 6px 8px rgba(14, 15, 15, 0.85);
  z-index: 5;
}

#useMultiple > .title {
  position: absolute;
  border: 6px solid #a51e14;
  width: calc(100% - 28px);
  left: 0px;
  padding: 8px;
  text-align: center;
  border-radius: 6px;
  z-index: 5;
}

#useMultiple > .title pre {
  margin: 0px;
  padding: 0px;
  font-family: unset;
  color: white;
  font-size: 18px;
  line-height: .95;
  white-space: break-spaces;
  word-break: break-word;
  z-index: 5;
}

#useMultiple button {
  -webkit-transition: 0.075s;
  transition: 0.075s;
  width: 48px;
  height: auto;
  border: none;
  background: #383838;
  color: white;
  text-shadow: -2px 2px 4px black;
  font-size: 16px;
  position: absolute;
  top: 40%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  z-index: 5;
}

#useMultiple .amount {
  font-size: 24px;
  color: white;
  text-shadow: -2px 2px 4px black;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 27.5%;
  z-index: 5;
}

#useMultiple .totalPrice {
  position: absolute;
  top: 42.5%;
  font-size: 26px;
  color: gold;
  text-shadow: -2px 2px 4px black;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

#useMultiple button:hover {
  -webkit-filter: brightness(1.25);
          filter: brightness(1.25);
}

#useMultiple button:active {
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
}

#useMultiple .lesser {
  left: 10px;
}

#useMultiple .less {
  left: 70px;
}

#useMultiple .up {
  right: 70px;
}

#useMultiple .more {
  right: 10px;
}

#useMultiple .confirm, #useMultiple .cancel {
  -webkit-transition: 0.075s;
  transition: 0.075s;
  width: 128px;
  font-size: 36px;
  position: absolute;
  bottom: 10px;
  text-shadow: -2px 2px 4px black;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 5;
}

#useMultiple .confirm:hover, #useMultiple .cancel:hover {
  -webkit-filter: brightness(1.25);
          filter: brightness(1.25);
}

#useMultiple .confirm {
  border: 4px solid green;
  color: #17ff17;
  background: #179417;
  -webkit-box-shadow: inset 0px 0px 10px 8px #0e740e;
          box-shadow: inset 0px 0px 10px 8px #0e740e;
  left: 10px;
}

#useMultiple .cancel {
  border: 4px solid grey;
  color: #e4f1e4;
  background: #8a8b8a;
  -webkit-box-shadow: inset 0px 0px 10px 8px #666666;
          box-shadow: inset 0px 0px 10px 8px #666666;
  right: 10px;
}

#useMultiple .dim {
  width: 50vw;
  height: 50vh;
  position: absolute;
  left: -50vw;
  top: -50vh;
  background: rgba(10, 10, 10, 0.5);
  padding: 100vw;
}
/*# sourceMappingURL=lobby.css.map */