.common {
  color: #bad6db;
  filter: drop-shadow(0px 0px 4px #bad6db);
}

.uncommon {
  color: #9cd0d9;
  filter: drop-shadow(0px 0px 5px #9cd0d9);
}

.rare {
  color: #72cbdb;
  filter: drop-shadow(0px 0px 6px #72cbdb);
}

.unusual {
  color: #35c2db;
  filter: drop-shadow(0px 0px 6px #35c2db);
}

.scaled {
  transform: scale(0);
}

.invisible {
  opacity: 0;
  z-index: -1 !important;
}

.battleEndScreen {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 4;
  transition: .5s;

  .battleEndContainer {
    transition: .33s;
    width: 640px;
    height: 480px;
    position: absolute;
    left: 50%;
    margin-left: -324px;
    top: 192px;
    background: rgb(75, 75, 75);
    z-index: 5;
    overflow: hidden;
    border: 8px solid rgb(31, 31, 31);
    box-shadow: inset 0px 0px 8px 6px rgb(50, 50, 50);

    >.endTitle {
      width: 100%;
      height: 80px;
      position: absolute;
      left: 0px;
      top: 0px;
      text-align: center;

      >p {
        font-size: 80px;
        font-family: RobotoBolder;
        margin-top: 0px;
        box-shadow: 0px 0px 10px 8px rgb(36, 36, 36);
      }
    }

    >.endingText {
      height: 260px;
      width: 100%;
      position: absolute;
      left: 0px;
      top: 120px;

      >pre {
        width: 100%;
        white-space: break-spaces;
        margin-left: 5px;
      }
    }

    .okbutton {
      transition: 0.075s;
      position: absolute;
      bottom: 5px;
      left: 50%;
      width: 180px;
      height: 90px;
      margin-left: -98px;
      background: rgb(241, 211, 41);
      box-shadow: inset 0px 0px 6px 4px orange;
      font-size: 70px;
      color: rgb(255, 255, 0);
      text-shadow: 0px 0px 4px black;
      text-align: center;
      user-select: none;
      border: 8px solid black
    }

    .okbutton:hover {
      border: 8px solid rgb(92, 92, 92);
      cursor: pointer;
    }
  }
}

.loss {
  color: rgb(192, 32, 32);
  text-shadow: 0px 0px 6px rgb(117, 29, 29);
  background: rgb(87, 23, 23);
}

.win {
  color: rgb(32, 192, 53);
  text-shadow: 0px 0px 6px rgb(29, 117, 55);
  background: rgb(23, 87, 44);
}

.lootWindow {
  transition: 0.2s;
  width: 480px;
  height: 420px;
  background: rgb(66, 66, 66);
  position: absolute;
  left: 50%;
  margin-left: -240px;
  top: 300px;
  text-align: center;
  font-size: 48px;
  color: gold;
  transform-style: preserve-3d;
  text-shadow: 0px 0px 4px rgb(133, 118, 35);
  box-shadow: 0px 0px 8px 6px rgb(39, 39, 39), inset 0px 0px 8px 6px rgb(45, 45, 45);
  z-index: 2;

  >.closeLoot {
    transition: 0.05s;
    background: gold;
    color: white;
    font-size: 52px;
    position: absolute;
    bottom: -72px;
    left: 50%;
    transform: translateX(-50%) translateZ(-10px);
    padding: 6px;
    box-shadow: inset 0px 0px 10px 8px orange, 0px 0px 8px 6px rgb(25, 25, 25);
    z-index: 0;
    border: 8px solid black;
    user-select: none;
  }

  >.closeLoot:hover {
    border: 8px solid silver;
  }

  >.goldNumber {
    font-size: 24px;
    color: gold;
    text-shadow: 0px 0px 4px orange;
    position: absolute;
    bottom: -5px;
    right: 15px;
  }

  >.lootArea {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 15%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
    grid-template-rows: auto;
    margin-top: 10px;
    gap: 10px;

    >.selected {
      border: 8px solid rgb(209, 181, 20);
    }

    >.selected:hover {
      border: 8px solid rgb(255, 217, 0);
    }

    >div {
      transition: 0.05s;
      position: relative;
      border: 8px solid black;
      transition: 0.05s;
      width: 75px;
      height: 75px;
      background: rgb(60, 60, 60);
      z-index: 1;

      >div {
        width: 75px;
        height: 75px;
        background: rgb(37, 37, 37);
        background: radial-gradient(circle, rgba(37, 37, 37, 1) 0%, rgba(28,28,28,1) 100%);
        position: absolute;
        box-shadow: inset 0px 0px 8px 6px rgb(16, 16, 16);
        user-select: none;
        left: 0px;
        top: 0px;

        >img {
          width: 75px;
          height: 75px;
          pointer-events: none;
        }
  
        >p {
          font-size: 18px;
          color: white;
          text-shadow: 0px 0px 4px black;
          position: absolute;
          right: 0px;
          bottom: -20px;
        }
      }
    }
    >div:hover {
      border: 8px solid rgb(187, 187, 187);
    }
  }
}