@use "./variables.scss" as *;

.scaled {
  transform: scale(0);
}

.invisible {
  opacity: 0;
  z-index: -1 !important;
}

.lobby {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  .side-bar {
    width: 20%;
    height: 100%;
    border: 0.5rem solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(14, 14, 14);
    box-shadow: inset 0px 0px 1rem 0.8rem rgba(0, 0, 0, 0.5);
    color: rgb(214, 214, 214);
    overflow: hidden;
    overflow-y: auto;

    .title {
      width: 100%;
      font-size: 2rem;
      color: gold;
      text-align: center;
      margin: 0.5rem 0;
    }

    .stat {
      display: flex;
      align-items: center;
      user-select: none;
      text-transform: capitalize;

      span {
        font-size: 1.3rem;
      }

      img {
        width: 1.5rem;
        -webkit-user-drag: none;
        margin-right: 0.4rem;
      }

      &:hover {
        filter: brightness(150%);
        text-decoration: underline;
      }
    }

    .character-details {
      position: relative;
      margin: 0;
      margin-bottom: auto;
    }

    .misc {
      position: relative;
      margin: 0;
      margin-top: auto;

      .stat {
        font-size: 1.5rem;
        color: white;

        .value {
          color: silver;
          margin-left: 0.3rem;
        }
      }
    }
  }

  .lobby-view {
    width: 80%;
    height: 100%;
    border: 0.5rem solid black;
    box-sizing: border-box;
    background: rgb(20, 20, 20);
    box-shadow: inset 0px 0px 2rem 1.6rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .lobby-header {
      width: 100%;
      height: 4rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: rgba(0, 0, 0, 0.3);

      .lobby-title {
        width: 30%;
        h1 {
          font-size: 3rem;
          font-weight: bold;
          color: #d6b442;
          filter: drop-shadow(0px 0px 4px #ca851d);
          margin: 0.2rem;
          letter-spacing: 0.25rem;
          font-family: "Almendra", serif;
        }
      }

      .lobby-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 70%;
      }
    }

    .lobby-content {
      position: relative;
      width: 100%;
      height: calc(100% - 4rem);
      overflow: auto;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .perk {
        border: 0.25rem solid silver;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        background: rgb(36, 36, 36);

        img {
          width: 75%;
          height: 75%;
          object-fit: contain;
          filter: drop-shadow(0px 0px 0.5rem #131313);
          pointer-events: none;
          user-select: none;
        }

        &.unavailable {
          filter: brightness(0.5);
        }

        &:hover:not(.unavailable) {
          filter: brightness(1.5);
          cursor: pointer;
        }

        &.owned {
          border: 0.25rem solid goldenrod;
        }

        &.adventure {
          background: rgb(58, 58, 58);
        }

        &.tough {
          background: rgb(83, 13, 13);
        }
      }
    }
  }
}

.stages-upper {
  width: calc(100% - 3rem);
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem;
  background: rgb(5, 5, 5);
  box-shadow: 0.15rem 0.33rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);

  h1 {
    color: gold;
    font-size: 2rem;
    margin: 0 0.75rem;
  }

  button {
    width: 9rem;
    height: 3rem;
    border: 0.25rem solid rgb(54, 54, 54);
    border-radius: 0.5rem;
    background: rgb(20, 20, 20);
    box-shadow: 0.15rem 0.33rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.75rem;
    cursor: pointer;
    transition: 0.2s;
    color: silver;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: Almendra, "serif";

    &:hover {
      filter: brightness(1.25);
    }

    img {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      filter: drop-shadow(0px 0px 0.5rem #131313);
      pointer-events: none;
      user-select: none;
    }
  }
}

.stages,
.floors {
  width: calc(100% - 3rem);
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 1.5rem;

  .stage {
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    background: rgb(37, 37, 37);
    text-shadow: -3px 3px 6px black;
    min-width: 10rem;
    width: max-content;
    text-align: center;
    user-select: none;
    box-shadow: 0 0 0.2rem 0.4rem rgb(17, 17, 17);
    border: 0.5rem solid rgb(54, 54, 54);
    border-radius: 1rem;

    &.locked {
      filter: brightness(0.5);
      border: 0.5rem solid rgb(58, 3, 3);
    }

    &.complete {
      border: 0.5rem solid gold;
    }

    &:hover:not(.locked) {
      cursor: pointer;
      filter: brightness(1.5);
      box-shadow: 0 0 0.3rem 0.6rem rgb(17, 17, 17);
    }

    &.boss {
      border: 0.5rem solid rgb(58, 3, 3);
    }
  }
}

.floors > .stage {
  background: rgb(78, 78, 78);
}

.skill-trees {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  overflow-y: auto;

  * {
    user-select: none;
  }
}

.skill-trees::-webkit-scrollbar {
  display: none;
}

.skill-wrapper {
  position: relative;
  width: 24rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 1.25rem;

  * {
    margin: 0;
  }

  .connector-bottom {
    position: absolute;
    width: 90%;
    height: 0.5rem;
    border-radius: 0.5rem;
    background: rgb(99, 98, 98);
    bottom: 2.25rem;
    left: 25%;
  }

  .connector-top {
    position: absolute;
    height: 54%;
    width: 0.5rem;
    background: rgb(99, 98, 98);
    border-radius: 0.5rem;
    left: 16.75rem;
    top: 5rem;
  }

  .skill {
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    border: 0.25rem solid silver;
    background: rgba(16, 16, 16);
    box-sizing: border-box;
    user-select: none;
    color: white;
    text-align: center;
    left: 5rem;

    &.maxed {
      border: 0.25rem solid goldenrod;
      color: goldenrod;

      &:hover {
        border: 0.25rem solid gold;
        color: gold;
      }
    }

    &:not(.upgrade) {
      width: 6rem;
      height: 6rem;
    }

    &:hover:not(.unavailable, .maxed) {
      filter: brightness(1.5);
      cursor: pointer;
    }

    &.unavailable:not(.maxed) {
      filter: brightness(0.5);
    }

    p {
      margin: 0;
      font-size: 1.75rem;
      text-shadow: -0.25rem 0.25rem 0.5rem black;
      pointer-events: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      -webkit-user-drag: none;
      pointer-events: none;
    }
  }

  .upgrades {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.inventory {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;

  &.store {
    flex-direction: column;

    .options {
      height: 4rem;
      width: 100%;
      display: flex;
    }

    .inventory-container {
      height: calc(100% - 4rem);
      width: calc(100% - 0.4rem);
    }
  }
}

.inventory-container {
  position: relative;
  width: calc(100% - 270px - 0.4rem);
  height: calc(100% - 0.4rem);
  border: 0.2rem solid black;
  background: rgb(5, 5, 5);
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;

  scrollbar-width: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  .inventory-flex {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;
    margin: 0;
    padding: 0;
    left: 0;
  }
}

.inventory-equipment {
  position: relative;
  width: 270px;
  height: 100%;
  background: rgb(24, 23, 23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inventory-slot {
  position: relative;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  margin: 5px;
  background: rgba(0, 0, 0, 0.9);
  border: 0.25rem solid silver;
  box-sizing: border-box;
  padding: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &:hover {
    filter: brightness(150%);
    background: rgb(24, 24, 24);
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }

  img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    pointer-events: none;
  }

  &.hover {
    background: rgb(148, 148, 148);
  }

  .amount {
    position: absolute;
    bottom: 0px;
    right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    text-shadow: -0.25rem 0.25rem 0.5rem black;
    background: rgba(0, 0, 0, 0.25);
    padding: 0;
    height: 1.2rem;
    pointer-events: none;

    &.price {
      color: gold;
    }
  }

  &.common {
    color: #bad6db;
    filter: drop-shadow(0px 0px 4px #bad6db);
    border-color: #bad6db;
  }

  &.uncommon {
    color: #61c769;
    filter: drop-shadow(0px 0px 4px #61c769);
    border-color: #61c769;
  }

  &.rare {
    color: rgb(35, 97, 211);
    filter: drop-shadow(0px 0px 4px rgb(35, 97, 211));
    border-color: rgb(35, 97, 211);
  }

  &.epic {
    color: #7d35db;
    filter: drop-shadow(0px 0px 4px #7d35db);
    border-color: #7d35db;
  }

  &.legendary {
    color: #dbd035;
    filter: drop-shadow(0px 0px 4px #dbd035);
    border-color: #dbd035;
  }

  &.perfect {
    color: #ed11ab;
    filter: drop-shadow(0px 0px 4px #ed11ab);
    border-color: #ed11ab;
  }
}

.char-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .ability-management {
    width: 100%;
    height: 60%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .ability-toolbar {
      width: min(636px, 100%);
      height: 104px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: rgba(43, 43, 43, 0.7);
      overflow: hidden;
      overflow-x: auto;

      .action-slot {
        margin: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .total-abilities {
      background: rgba(43, 43, 43, 0.7);
      width: 80%;
      height: calc(80% - 96px);
      overflow: hidden;
      overflow-y: auto;
      display: flex;
      flex-wrap: wrap;

      .action-slot {
        margin: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .stat {
    width: 22.5rem;
    height: 9.25rem;
    border: 0.2rem solid rgb(31, 31, 31);
    background: rgba(41, 3, 3, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    margin: 0.5rem;
    font-size: 1.5rem;

    .stat-name {
      text-decoration: underline;
    }

    .stat-value {
      font-size: 2.25rem;
      color: goldenrod;
      text-shadow: -0.06rem 0.07rem 0.5rem gold;
    }
  }
}

.saves {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div.save-header {
    justify-content: center;
    gap: 1.25rem;

    button,
    input {
      height: 3rem;
      border: none;
      border-radius: 0.75rem;
      background: rgb(51, 50, 50);
      color: white;
      font-size: 1.3rem;
      text-shadow: 0 0 0.5rem #131313;
      box-shadow: 0 0 0.37rem 0.15rem #1b1b1b;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 0.5rem;

      &:hover {
        filter: brightness(150%);
      }

      &:active {
        filter: brightness(75%);
      }
    }
  }

  .save-slot,
  .save-header {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    padding: 1.75rem;
    border: 0.33rem solid black;
    box-sizing: border-box;
    box-shadow: inset 0 0 0.5rem 0.75rem rgb(24, 24, 24);

    .save-data {
      text-shadow: 0 0 0.5rem #c5c5c5;
      width: min(100%, 50rem);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;

      .line {
        color: $gold;
      }
    }

    .save-buttons {
      width: max-content;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;

      button {
        width: 6rem;
        height: 3rem;
        border: none;
        border-radius: 0.75rem;
        background: rgb(36, 35, 35);
        color: white;
        font-size: 1.3rem;
        text-shadow: 0 0 0.5rem #131313;
        box-shadow: 0 0 0.37rem 0.15rem #1b1b1b;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          filter: brightness(150%);
        }

        &:active {
          filter: brightness(75%);
        }
      }

      .delete-save {
        background: rgb(131, 5, 5);
      }
    }
  }
}

.world-map {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60rem;
  height: 60rem;
  transform: translateX(-50%) translateY(-50%);
  .map-area {
    width: 30rem;
    height: 30rem;
    &:hover {
      cursor: pointer;
      filter: brightness(1.5);
    }
  }
}

#confirm-action {
  transition: opacity 0.35s;
  width: 30rem;
  height: 21rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 30;
  background: #161616;
  box-shadow: 0 0 0.8rem 0.66rem #1b1b1b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
  pointer-events: none;
  opacity: 0;

  .text {
    color: white;
    font-size: 2rem;

    pre {
      font-size: 2rem;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
      transition: all 0.125s;
      width: 12rem;
      height: 4.5rem;
      font-size: 2.2rem;
      border: none;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      text-shadow: 0 0 0.5rem black;
      cursor: pointer;

      &:hover {
        color: gold;
        text-shadow: 0 0 0.5rem goldenrod;
      }

      &.confirm {
        background: rgb(5, 131, 5);
        box-shadow: 0 0 0.8rem 0.25rem limegreen;

        &:hover {
          background: rgb(4, 90, 4);
          box-shadow: 0 0 0.8rem 0.45rem rgb(34, 139, 34);
        }
      }

      &.cancel {
        background: rgb(131, 5, 5);
        box-shadow: 0 0 0.8rem 0.25rem darkred;

        &:hover {
          background: rgb(77, 3, 3);
          box-shadow: 0 0 0.8rem 0.45rem rgb(116, 2, 2);
        }
      }
    }
  }

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
