@font-face {
  font-family: RobotoThin;
  src: url("../font/Roboto-Thin.ttf");
  font-weight: normal;
}

@font-face {
  font-family: RobotoLight;
  src: url("../font/Roboto-Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../font/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: RobotoMedium;
  src: url("../font/Roboto-Medium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: RobotoBold;
  src: url("../font/Roboto-Bold.ttf");
  font-weight: normal;
}

@font-face {
  font-family: RobotoBolder;
  src: url("../font/Roboto-Black.ttf");
  font-weight: normal;
}

$health: rgb(165, 30, 20);
$health_light: rgb(218, 60, 49);
$health_shadow: inset 0px 0px 0.25rem 0.2rem rgb(107, 18, 11);
$health_gradient: linear-gradient(
  90deg,
  rgba(165, 30, 20, 1) 0%,
  rgb(233, 74, 63) 10%,
  rgb(202, 53, 42) 25%,
  rgba(165, 30, 20, 1) 100%
);
$mana: rgb(20, 88, 165);
$mana_light: rgb(0, 128, 218);
$mana_shadow: inset 0px 0px 0.25rem 0.2rem rgb(16, 74, 139);
$mana_gradient: linear-gradient(
  90deg,
  rgba(20, 88, 165, 1) 0%,
  rgb(101, 162, 231) 10%,
  rgb(69, 133, 207) 25%,
  rgba(20, 88, 165, 1) 100%
);
$action: rgb(85, 165, 20);
$action_gradient: linear-gradient(
  90deg,
  rgba(85, 165, 20, 1) 0%,
  rgb(142, 235, 66) 10%,
  rgb(110, 196, 40) 25%,
  rgba(85, 165, 20, 1) 100%
);
$action_shadow: inset 0px 0px 0.25rem 0.2rem rgb(10, 10, 10);

body {
  background: rgb(80, 80, 80);
  background: radial-gradient(circle, rgba(80, 80, 80, 1) 0%, rgba(28, 28, 28, 1) 100%);
  font-family: Roboto;
  overflow: hidden;
}

.hidden {
  transform: scale(0);
}

#bloody-screen {
  transition: 50ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0vw 0vw 8vw 6vw #751322;
  background: rgba(165, 30, 20, 0.2);
  opacity: 0;
  user-select: none;
  pointer-events: none;

  &.show {
    opacity: 1;
  }
}

main.game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.combat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .ui {
    .toolbar {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      .bar {
        position: relative;
        width: 50%;
        height: 3.5rem;
        background: rgb(15, 15, 15);
        box-sizing: border-box;
        border: 0.25rem solid rgb(15, 15, 15);

        .fill,
        .late {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          animation-name: GradientShine;
          animation-duration: 3s;
          background-size: 200% 200%;
          animation-iteration-count: infinite;
          animation-timing-function: linear;

          &.no-fill {
            width: 0;
            box-shadow: none;
          }
        }

        .value {
          transition: 200ms ease-out opacity;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          font-size: 1.5rem;
          font-weight: bold;
          color: rgb(255, 255, 255);
          text-shadow: 0 0 0.5rem rgb(0, 0, 0);
          z-index: 3;
          opacity: 0;

          &:hover {
            opacity: 1;
          }
        }

        .fill {
          transition: 750ms ease-out width;
          z-index: 2;
        }

        .late {
          transition: 800ms ease-out width;
          transition-delay: 500ms;
        }

        &.player-hp {
          left: 0;
          .fill {
            left: 0;
            background: $health;
            background: $health_gradient;
            box-shadow: $health_shadow;
          }
          .late {
            left: 0;
            background: $health_light;
          }
        }

        &.player-mp {
          .fill {
            right: 0px;
            background: $mana;
            background: $mana_gradient;
            box-shadow: $mana_shadow;
            transform: scale(-1);
          }
          .late {
            right: 0px;
            background: $mana_light;
            transform: scale(-1);
          }
        }
      }

      .tools {
        position: relative;
        height: 10.5rem;
        background: rgb(37, 37, 37);
        box-sizing: border-box;
        border: 0.25rem solid rgb(15, 15, 15);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .player-action {
          width: 100%;
          height: 2.5rem;
          border: none;

          .fill {
            transition: none;
            left: 0;
            background: $action;
            background: $action_gradient;
            box-shadow: $action_shadow;
          }

          &.no-fill > .fill {
            width: 0;
            box-shadow: none;
          }

          &.paused > .fill {
            filter: grayscale(50%) contrast(0.5);
            animation-play-state: paused;
          }

          .value {
            opacity: 1;
          }
        }

        .action-slots {
          width: 40rem;
          height: 6rem;
          padding: 0rem 1rem;
          margin-bottom: 0.75rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .action-slot {
            position: relative;
            box-sizing: border-box;
            width: 6rem;
            height: 6rem;
            border: 0.25rem solid rgb(54, 54, 54);
            background: rgb(10, 10, 10);
            margin: 0 0.25rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &.disabled {
              filter: brightness(50%);

              &:hover {
                border: 0.25rem solid rgb(54, 54, 54);
              }
            }

            &.selected {
              border: 0.25rem solid goldenrod;

              &:hover {
                border: 0.25rem solid gold;
              }
            }

            img {
              position: absolute;
              width: 95%;
              height: 95%;
              object-fit: cover;
              user-select: none;
              -webkit-user-drag: none;
            }

            .cooldown {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 100%;
              background: $health;
              box-shadow: $health_shadow;
              filter: brightness(0.5);
              opacity: 0.7;
            }

            .cooldown-number {
              position: relative;
              font-weight: bold;
              font-size: 1.75rem;
              color: rgb(139, 139, 139);
              text-shadow: -0.15rem 0.2rem 0.2rem $health;
              user-select: none;
            }

            &:hover {
              border: 0.25rem solid rgb(112, 112, 112);
            }
          }
        }
      }
    }
  }
}

#tooltip {
  width: auto;
  height: auto;
  max-width: 55%;
  background: rgba(20, 20, 20, 0.8);
  box-sizing: border-box;
  border: 4px solid gold;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60;
  display: none;
  pointer-events: none;

  line-height: 16px;
  color: white;
  pre {
    margin: 0;
    span {
      margin: 0;
      color: inherit;
      font-size: inherit;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      text-shadow: 0px 0px 8px black;
      line-height: inherit;
    }

    img {
      width: 22px;
      vertical-align: middle;
    }
  }
}

.gradient-shine {
  animation-name: GradientShine;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: 200% 200% !important;
}

@keyframes GradientShine {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
