@font-face {
  font-family: RobotoThin;
  src: url("/style/font/Roboto-Thin.ttf");
  font-weight: normal;
}

@font-face {
  font-family: RobotoLight;
  src: url("/style/font/Roboto-Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url("/style/font/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: RobotoMedium;
  src: url("/style/font/Roboto-Medium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: RobotoBold;
  src: url("/style/font/Roboto-Bold.ttf");
  font-weight: normal;
}

@font-face {
  font-family: RobotoBolder;
  src: url("/style/font/Roboto-Black.ttf");
  font-weight: normal;
}

body {
  background: #505050;
  background: radial-gradient(circle, #505050 0%, #1c1c1c 100%);
  font-family: Roboto;
  overflow: hidden;
}

.hidden {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.combatScreen {
  width: 100%;
  height: 100%;
  margin: 0px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}

.combatScreen .playerArea {
  margin: 0px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.combatScreen .playerArea .playerHpBar,
.combatScreen .playerArea .playerMpBar {
  width: 35vw;
  height: 90px;
  background: #191919;
  position: absolute;
  bottom: 0px;
  -webkit-box-shadow: inset 0px 0px 0.25vw 0.2vw #0a0a0a;
          box-shadow: inset 0px 0px 0.25vw 0.2vw #0a0a0a;
  border: 4px solid black;
  border-radius: 8px;
}

.combatScreen .playerArea .playerMpNum, .combatScreen .playerArea .playerHpNum {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 60px;
  color: white;
  text-shadow: -2px 2px 4px #c5c5c5;
  text-align: center;
  position: relative;
  bottom: 47px;
  opacity: 0;
}

.combatScreen .playerArea .playerHpBar:hover > p, .combatScreen .playerArea .playerMpBar:hover > p {
  opacity: 1;
}

.combatScreen .playerArea .fillbar {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  width: 100%;
  height: 100%;
  background: #a51e14;
  background: -webkit-gradient(linear, left top, right top, from(#a51e14), color-stop(10%, #e94a3f), color-stop(25%, #ca352a), to(#a51e14));
  background: linear-gradient(90deg, #a51e14 0%, #e94a3f 10%, #ca352a 25%, #a51e14 100%);
  -webkit-box-shadow: inset 0px 0px 0.25vw 0.2vw #6b120b;
          box-shadow: inset 0px 0px 0.25vw 0.2vw #6b120b;
  -webkit-animation-name: BarShine;
          animation-name: BarShine;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  background-size: 200% 200%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
  bottom: 0px;
}

.combatScreen .playerArea .playerHpBar {
  left: 0px;
}

.combatScreen .playerArea .playerHpBar .playerHpLate {
  -webkit-transition: 1.45s cubic-bezier(0, 0, 0.15, 1.02);
  transition: 1.45s cubic-bezier(0, 0, 0.15, 1.02);
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
  width: 100%;
  height: 100%;
  background: #da3c31;
  background: -webkit-gradient(linear, left top, right top, from(#da3c31), color-stop(10%, #ff786e), color-stop(25%, #e75b50), to(#da3c31));
  background: linear-gradient(90deg, #da3c31 0%, #ff786e 10%, #e75b50 25%, #da3c31 100%);
  -webkit-animation-name: BarShineReverse;
          animation-name: BarShineReverse;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  background-size: 200% 200%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.combatScreen .playerArea .playerMpBar {
  right: 0px;
}

.combatScreen .playerArea .playerMpBar .playerMpFill {
  background: #1458a5;
  background: -webkit-gradient(linear, left top, right top, from(#1458a5), color-stop(10%, #65a2e7), color-stop(25%, #4585cf), to(#1458a5));
  background: linear-gradient(90deg, #1458a5 0%, #65a2e7 10%, #4585cf 25%, #1458a5 100%);
  -webkit-box-shadow: inset 0px 0px 0.25vw 0.2vw #104a8b;
          box-shadow: inset 0px 0px 0.25vw 0.2vw #104a8b;
  -webkit-animation-name: BarShine;
          animation-name: BarShine;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  background-size: 200% 200%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  right: 0px;
}

.combatScreen .playerArea .playerStatuses {
  width: calc(30vw - 16px);
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.combatScreen .playerArea .playerInteract {
  width: calc(30vw - 16px);
  height: 300px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #1e1e1e;
  border: 4px solid black;
  -webkit-box-shadow: inset 0px 0px 20px 14px #101010;
          box-shadow: inset 0px 0px 20px 14px #101010;
}

.combatScreen .playerArea .playerInteract .playerActionBar {
  position: absolute;
  left: -4px;
  top: -53px;
  height: 45px;
  width: 100%;
  background: #141414;
  border: 4px solid black;
  -webkit-box-shadow: inset 0px 0px 0.25vw 0.2vw #0a0a0a;
          box-shadow: inset 0px 0px 0.25vw 0.2vw #0a0a0a;
  border-radius: 8px 8px 0px 0px;
}

.combatScreen .playerArea .playerInteract .playerActionBar .playerActionNum {
  font-size: 30px;
  color: white;
  text-shadow: -2px 2px 4px #c5c5c5;
  text-align: center;
  position: relative;
  bottom: 72px;
}

.combatScreen .playerArea .playerInteract .playerActionBar .playerActionFill {
  background: #55a514;
  background: -webkit-gradient(linear, left top, right top, from(#55a514), color-stop(10%, #8eeb42), color-stop(25%, #6ec428), to(#55a514));
  background: linear-gradient(90deg, #55a514 0%, #8eeb42 10%, #6ec428 25%, #55a514 100%);
  width: 73%;
  height: 100%;
  -webkit-animation-name: BarShine;
          animation-name: BarShine;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  background-size: 200% 200%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border-radius: 8px 8px 0px 0px;
}

.combatScreen .playerArea .playerInteract button {
  width: 125px;
  height: 110px;
  border: 8px solid black;
  background: rgba(35, 35, 40, 0.75);
  -webkit-box-shadow: inset 0px 0px 8px 6px rgba(20, 20, 20, 0.75);
          box-shadow: inset 0px 0px 8px 6px rgba(20, 20, 20, 0.75);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}

.combatScreen .playerArea .playerInteract button > img {
  width: 100%;
  height: 100%;
}

.combatScreen .playerArea .playerInteract button:hover {
  border: 8px solid white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.combatScreen .playerArea .playerInteract .regularAttack {
  position: absolute;
  left: 25px;
  top: 25px;
}

.combatScreen .playerArea .playerInteract .combatInventory {
  position: absolute;
  left: 155px;
  top: 25px;
}

.combatScreen .playerArea .playerInteract .playerAbilities {
  width: 100%;
  height: 120px;
  position: absolute;
  left: 0px;
  bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.combatScreen .playerArea .playerInteract .playerAbilities .abilityContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.combatScreen .playerArea .playerInteract .playerAbilities .abilityContainer > div {
  -webkit-transition: 0.05s;
  transition: 0.05s;
  width: 90px;
  height: 90px;
  background: #252525;
  background: radial-gradient(circle, #252525 0%, #1c1c1c 100%);
  position: relative;
  -webkit-box-shadow: inset 0px 0px 8px 6px #101010;
          box-shadow: inset 0px 0px 8px 6px #101010;
  border: 8px solid black;
  margin: 0px 1px 1px 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.combatScreen .playerArea .playerInteract .playerAbilities .abilityContainer > div:hover {
  border: 8px solid rgba(196, 196, 196, 0.75);
}

.combatScreen .playerArea .playerInteract .playerAbilities .abilityContainer .cooldown {
  font-size: 48px;
  color: white;
  text-shadow: 0px 0px 8px black;
  background: rgba(10, 10, 10, 0.8);
  position: absolute;
  left: 50%;
  top: -48px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 16px;
  pointer-events: none;
}

.combatScreen .playerArea .playerInteract .playerAbilities .abilityContainer .charAbility {
  width: 90px;
  height: 90px;
  background: rgba(165, 30, 20, 0.2);
  position: absolute;
  left: 0px;
  top: 0px;
}

.combatScreen .playerArea .playerInteract .playerAbilities .abilityContainer .charAbility > img {
  width: 100%;
  height: 100%;
}

.combatScreen .playerArea .playerInteract .playerAbilities .abilityContainer .charAbility > span {
  font-size: 100px;
  position: absolute;
  z-index: 1;
  left: -5px;
  top: -12px;
  color: #701515;
  text-shadow: 0px 0px 6px black;
  background: rgba(10, 10, 10, 0.5);
  padding: 0px 20px 0px 20px;
}

@-webkit-keyframes BarShine {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes BarShine {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.combatScreen .enemyArea {
  width: 90vw;
  height: 40%;
  position: absolute;
  left: 5vw;
  top: 40px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.combatScreen .enemyArea .enemiesFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -150px;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame {
  width: 300px;
  min-height: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 25px;
  position: relative;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame img {
  position: absolute;
  width: 270px;
  height: 360px;
  top: 60px;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyDroppingString {
  width: 10px;
  height: 10px;
  position: absolute;
  left: -40%;
  top: 225%;
  z-index: 1;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyName {
  position: relative;
  top: -60px;
  font-size: 24px;
  color: white;
  text-shadow: -2px 2px 4px silver;
  text-align: center;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyHpBar, .combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyMpBar {
  width: 300px;
  height: 20px;
  background: #191919;
  position: absolute;
  top: 0px;
  -webkit-box-shadow: inset 0px 0px 0.25vw 0.2vw #0a0a0a;
          box-shadow: inset 0px 0px 0.25vw 0.2vw #0a0a0a;
  border: 4px solid black;
  border-radius: 8px;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyMpBar {
  top: 30px;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyHpFill {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  width: 100%;
  height: 100%;
  background: #a51e14;
  background: -webkit-gradient(linear, left top, right top, from(#a51e14), color-stop(10%, #e94a3f), color-stop(25%, #ca352a), to(#a51e14));
  background: linear-gradient(90deg, #a51e14 0%, #e94a3f 10%, #ca352a 25%, #a51e14 100%);
  -webkit-animation-name: BarShine;
          animation-name: BarShine;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  background-size: 200% 200%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-box-shadow: inset 0px 0px 0.25vw 0.2vw #6b120b;
          box-shadow: inset 0px 0px 0.25vw 0.2vw #6b120b;
  border-radius: 0.25vw;
  position: absolute;
  left: 0px;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyMpFill {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  width: 100%;
  height: 100%;
  background: #1458a5;
  background: -webkit-gradient(linear, left top, right top, from(#1458a5), color-stop(10%, #65a2e7), color-stop(25%, #4585cf), to(#1458a5));
  background: linear-gradient(90deg, #1458a5 0%, #65a2e7 10%, #4585cf 25%, #1458a5 100%);
  -webkit-box-shadow: inset 0px 0px 0.25vw 0.2vw #104a8b;
          box-shadow: inset 0px 0px 0.25vw 0.2vw #104a8b;
  -webkit-animation-name: BarShine;
          animation-name: BarShine;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  background-size: 200% 200%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border-radius: 0.25vw;
  position: absolute;
  left: 0px;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyHpLate {
  -webkit-transition: 0.95s cubic-bezier(0, 0, 0.15, 1.02);
  transition: 0.95s cubic-bezier(0, 0, 0.15, 1.02);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  width: 100%;
  height: 100%;
  background: #da3c31;
  background: -webkit-gradient(linear, left top, right top, from(#da3c31), color-stop(10%, #ff786e), color-stop(25%, #e75b50), to(#da3c31));
  background: linear-gradient(90deg, #da3c31 0%, #ff786e 10%, #e75b50 25%, #da3c31 100%);
  -webkit-animation-name: BarShine;
          animation-name: BarShine;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  background-size: 200% 200%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-radius: 0.25vw;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyActionNumber {
  font-size: 20px;
  color: white;
  text-shadow: -2px 2px 4px #c5c5c5;
  text-align: center;
  position: relative;
  bottom: 42px;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyActionBar {
  position: absolute;
  top: 440px;
  height: 25px;
  width: 100%;
  background: #141414;
  border: 4px solid black;
  -webkit-box-shadow: inset 0px 0px 0.25vw 0.2vw #0a0a0a;
          box-shadow: inset 0px 0px 0.25vw 0.2vw #0a0a0a;
  border-radius: 0px 0px 0.25vw 0.25vw;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyActionBar .enemyActionFill {
  background: #55a514;
  background: -webkit-gradient(linear, left top, right top, from(#55a514), color-stop(10%, #8eeb42), color-stop(25%, #6ec428), to(#55a514));
  background: linear-gradient(90deg, #55a514 0%, #8eeb42 10%, #6ec428 25%, #55a514 100%);
  width: 100%;
  height: 100%;
  -webkit-animation-name: BarShine;
          animation-name: BarShine;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  background-size: 200% 200%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border-radius: 0px 0px 0.25vw 0.25vw;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyStatusArea {
  width: 308px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyStatusArea .statusFrameEnemy {
  width: 32px;
  height: 32px;
  position: relative;
  bottom: 5px;
  left: 5px;
  margin: 4px;
  border: 2px solid #3d3d3d;
  background: #252525;
  -webkit-box-shadow: inset 0px 0px 4px 3px #101010;
          box-shadow: inset 0px 0px 4px 3px #101010;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyStatusArea .statusFrameEnemy > img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyStatusArea .statusFrameEnemy > p {
  color: white;
  font-size: 8px;
  position: absolute;
  right: 2px;
  bottom: -6px;
  text-shadow: -1px 1px 2px black;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyMpNumber, .combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyHpNumber {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 18px;
  color: white;
  text-shadow: -2px 2px 4px #c5c5c5;
  text-align: center;
  position: relative;
  bottom: 18px;
  opacity: 0;
}

.combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyHpBar:hover > p, .combatScreen .enemyArea .enemiesFlex .enemyFrame .enemyMpBar:hover > p {
  opacity: 1;
}

.combatScreen .enemyAttack {
  -webkit-animation-name: enemyAttacks;
          animation-name: enemyAttacks;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes enemyAttacks {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
  }
  60% {
    -webkit-transform: scale(0.935);
            transform: scale(0.935);
  }
  80% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
  }
  90% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes enemyAttacks {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
  }
  60% {
    -webkit-transform: scale(0.935);
            transform: scale(0.935);
  }
  80% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
  }
  90% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#inventoryWindow {
  width: 928px;
  height: 576px;
  background: rgba(85, 85, 85, 0.95);
  position: absolute;
  left: 50%;
  margin-left: -464px;
  top: 25px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-shadow: inset 0px 0px 24px 16px rgba(45, 45, 45, 0.95);
          box-shadow: inset 0px 0px 24px 16px rgba(45, 45, 45, 0.95);
}

#inventoryWindow .itemsArea {
  width: 582px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(75px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin: 0px;
}

#inventoryWindow .itemsArea > div {
  -webkit-transition: 0.05s;
  transition: 0.05s;
  width: 75px;
  height: 75px;
  background: #252525;
  background: radial-gradient(circle, #252525 0%, #1c1c1c 100%);
  position: relative;
  -webkit-box-shadow: inset 0px 0px 8px 6px #101010;
          box-shadow: inset 0px 0px 8px 6px #101010;
  border: 5px solid black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0px;
}

#inventoryWindow .itemsArea > div > img {
  width: 75px;
  height: 75px;
}

#inventoryWindow .itemsArea > div > p {
  font-size: 18px;
  color: white;
  text-shadow: 0px 0px 4px black;
  position: absolute;
  right: 0px;
  bottom: -20px;
}

#inventoryWindow .itemsArea > div:hover {
  border: 5px solid #bbbbbb;
}

.statusFrame {
  width: 64px;
  height: 64px;
  position: relative;
  bottom: 10px;
  left: 10px;
  margin: 8px;
  border: 4px solid #3d3d3d;
  background: #252525;
  -webkit-box-shadow: inset 0px 0px 8px 6px #101010;
          box-shadow: inset 0px 0px 8px 6px #101010;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statusFrame > img {
  width: 64px;
  height: 64px;
}

.statusFrame > p {
  color: white;
  font-size: 16px;
  position: absolute;
  right: 4px;
  bottom: -12px;
  text-shadow: -2px 2px 4px black;
}

.bloodyScreenEffect {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0vw 0vw 8vw 6vw #751322;
          box-shadow: inset 0vw 0vw 8vw 6vw #751322;
  background: rgba(165, 30, 20, 0.2);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dropping {
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-animation-name: upAndDown;
          animation-name: upAndDown;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.damage {
  color: #cc2323;
  text-shadow: -2px 2px 6px #630606;
}

.neutral {
  color: #ccc923;
  text-shadow: -2px 2px 6px #635d06;
}

.health {
  color: #6fcc23;
  text-shadow: -2px 2px 6px #116306;
}

.heal {
  -webkit-animation-name: heal;
          animation-name: heal;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.shake1 {
  -webkit-animation-name: shakeA1;
          animation-name: shakeA1;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.shake2 {
  -webkit-animation-name: shakeA2;
          animation-name: shakeA2;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.shake3 {
  -webkit-animation-name: shakeA3;
          animation-name: shakeA3;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.shake4 {
  -webkit-animation-name: shakeA4;
          animation-name: shakeA4;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.canBeTargeted {
  -webkit-filter: drop-shadow(0px 0px 16px #721717);
          filter: drop-shadow(0px 0px 16px #721717);
}

@-webkit-keyframes fadeOut {
  0% {
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
  100% {
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
}

@keyframes fadeOut {
  0% {
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
  100% {
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
}

@-webkit-keyframes upAndDown {
  0% {
    margin-top: 0%;
  }
  20% {
    margin-top: -3%;
    opacity: 1;
  }
  100% {
    margin-top: 20%;
    opacity: 0;
  }
}

@keyframes upAndDown {
  0% {
    margin-top: 0%;
  }
  20% {
    margin-top: -3%;
    opacity: 1;
  }
  100% {
    margin-top: 20%;
    opacity: 0;
  }
}

@-webkit-keyframes heal {
  0% {
    -webkit-filter: grayscale(0) sepia(0) hue-rotate(0);
            filter: grayscale(0) sepia(0) hue-rotate(0);
  }
  80% {
    -webkit-filter: grayscale(1) sepia(1) hue-rotate(75deg) brightness(7);
            filter: grayscale(1) sepia(1) hue-rotate(75deg) brightness(7);
  }
  100% {
    -webkit-filter: grayscale(0) sepia(0) hue-rotate(0) brightness(1);
            filter: grayscale(0) sepia(0) hue-rotate(0) brightness(1);
  }
}

@keyframes heal {
  0% {
    -webkit-filter: grayscale(0) sepia(0) hue-rotate(0);
            filter: grayscale(0) sepia(0) hue-rotate(0);
  }
  80% {
    -webkit-filter: grayscale(1) sepia(1) hue-rotate(75deg) brightness(7);
            filter: grayscale(1) sepia(1) hue-rotate(75deg) brightness(7);
  }
  100% {
    -webkit-filter: grayscale(0) sepia(0) hue-rotate(0) brightness(1);
            filter: grayscale(0) sepia(0) hue-rotate(0) brightness(1);
  }
}

@-webkit-keyframes shakeA1 {
  0% {
    margin-left: 10px;
    margin-top: 5px;
  }
  25% {
    margin-left: -5px;
    margin-top: 0px;
  }
  50% {
    margin-left: 8px;
    margin-top: 12px;
  }
  75% {
    margin-left: -3px;
    margin-top: 4px;
  }
  100% {
    margin-left: 9px;
    margin-top: -6px;
  }
}

@keyframes shakeA1 {
  0% {
    margin-left: 10px;
    margin-top: 5px;
  }
  25% {
    margin-left: -5px;
    margin-top: 0px;
  }
  50% {
    margin-left: 8px;
    margin-top: 12px;
  }
  75% {
    margin-left: -3px;
    margin-top: 4px;
  }
  100% {
    margin-left: 9px;
    margin-top: -6px;
  }
}

@-webkit-keyframes shakeA2 {
  0% {
    margin-left: -10px;
    margin-top: -5px;
  }
  25% {
    margin-left: 5px;
    margin-top: 0px;
  }
  50% {
    margin-left: -8px;
    margin-top: -12px;
  }
  75% {
    margin-left: 3px;
    margin-top: -4px;
  }
  100% {
    margin-left: -9px;
    margin-top: 6px;
  }
}

@keyframes shakeA2 {
  0% {
    margin-left: -10px;
    margin-top: -5px;
  }
  25% {
    margin-left: 5px;
    margin-top: 0px;
  }
  50% {
    margin-left: -8px;
    margin-top: -12px;
  }
  75% {
    margin-left: 3px;
    margin-top: -4px;
  }
  100% {
    margin-left: -9px;
    margin-top: 6px;
  }
}

@-webkit-keyframes shakeA3 {
  0% {
    margin-left: 9px;
    margin-top: -4px;
  }
  25% {
    margin-left: -12px;
    margin-top: 3px;
  }
  50% {
    margin-left: 2px;
    margin-top: -9px;
  }
  75% {
    margin-left: -6px;
    margin-top: 1px;
  }
  100% {
    margin-left: 7px;
    margin-top: -6px;
  }
}

@keyframes shakeA3 {
  0% {
    margin-left: 9px;
    margin-top: -4px;
  }
  25% {
    margin-left: -12px;
    margin-top: 3px;
  }
  50% {
    margin-left: 2px;
    margin-top: -9px;
  }
  75% {
    margin-left: -6px;
    margin-top: 1px;
  }
  100% {
    margin-left: 7px;
    margin-top: -6px;
  }
}

@-webkit-keyframes shakeA4 {
  0% {
    margin-left: 18px;
    margin-top: 17px;
  }
  25% {
    margin-left: -16px;
    margin-top: -14px;
  }
  50% {
    margin-left: 22px;
    margin-top: 9px;
  }
  75% {
    margin-left: -11px;
    margin-top: -2px;
  }
  100% {
    margin-left: 3px;
    margin-top: 8px;
  }
}

@keyframes shakeA4 {
  0% {
    margin-left: 18px;
    margin-top: 17px;
  }
  25% {
    margin-left: -16px;
    margin-top: -14px;
  }
  50% {
    margin-left: 22px;
    margin-top: 9px;
  }
  75% {
    margin-left: -11px;
    margin-top: -2px;
  }
  100% {
    margin-left: 3px;
    margin-top: 8px;
  }
}
/*# sourceMappingURL=main.css.map */