#textBoxPop {
  background: rgba(15, 15, 15, 0.9);
  position: absolute;
  text-align: left;
  margin: 0px;
  padding: 8px;
  z-index: 5;
  height: max-content;
  width: fit-content;
  overflow: hidden;
  border-radius: 0.2vw;
  display: none;
  pointer-events: none;
  user-select: none;

  pre {
    margin: 0px;
    padding: 0px;
    font-family: unset;
    color: white;
    font-size: 18px;
    line-height: .95;
    white-space: break-spaces;
    word-break: break-word;
  }

  span {
    padding: 0px;
    margin: 0px;
  }
}