#textBoxPop {
  background: rgba(15, 15, 15, 0.8);
  position: absolute;
  text-align: left;
  margin: 0px;
  padding: 8px;
  z-index: 5;
  height: max-content;
  width: fit-content;
  overflow: hidden;
  border-radius: 0.2vw;

  pre {
    margin: 0px;
    padding: 0px;
    font-family: unset;
  }

  span {
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
  }
}